<div class="col-md-4 col-sm-4 col-xs-12 vueling_outer pad_none" ng-click="flightSelected(flight);">
    <div class="col-md-12 col-sm-12 col-xs-12 plain_main_otr">
        <div class="plain_img_outer">
            <img ng-src="images/plan2.png">
        </div>
        <div class="vueling_outer_btn">
            <img width="47" height="22" ng-src="images/airlines/{{flight['onward']['!Carrier']}}_70_48.jpg"
                 alt="{{flight['onward']['!Carrier']}}">
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 vueling_txt">
        <h2>{{flight['onward']['!DepartureTime'] | displayTime}}</h2>
        <span>{{flight['onward']['!ArrivalTime'] | displayTime}}</span>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 barajas_txt">
        <span>{{flight['onward']['!Origin'] | cityCode2Name}}, <strong>{{flight['onward']['!Origin']}}</strong></span>
        <i class="fa fa-arrow-right right_arrow_innr"></i>
        <span>{{flight['onward']['!Destination'] | cityCode2Name}}, <strong>{{flight['onward']['!Destination']}}</strong></span>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 border_inner pad_none" ng-hide="!!twoway"></div>
    <div class="col-md-12 col-sm-12 col-xs-12 plain_main_otr" ng-hide="!!twoway">
        <div class="plain_img_outer">
            <img src="images/plain_left.png">
        </div>
        <div class="vueling_outer_btn">
            <img width="47" height="22" ng-src="images/airlines/{{flight['return']['!Carrier']}}_70_48.jpg"
                 alt="{{flight['return']['!Carrier']}}">
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 vueling_txt" ng-hide="!!twoway">
        <h2>{{flight['return']['!DepartureTime'] | displayTime}}</h2>
        <span>{{flight['return']['!ArrivalTime'] | displayTime}}</span>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 barajas_txt" ng-hide="!!twoway">
        <span>{{flight['return']['!Origin'] | cityCode2Name}}, <strong>{{flight['return']['!Origin']}}</strong></span>
        <i class="fa fa-arrow-right right_arrow_innr"></i>
        <span>{{flight['return']['!Destination'] | cityCode2Name}}, <strong>{{flight['return']['!Destination']}}</strong></span>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 info_btn_inner pad_none">
        <a ng-click="redirectToHotels(flight);">Seleccionar {{flight['relativeAirPriceDisplay']}}</a>
    </div>
</div>
