<loading loading="home.loading"></loading>
<!-- Add your site or application content here -->
<div class="col-md-12 col-sm-12 col-xs-12 page_bg pad_none">
    <div class="main_outer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <header>
                        <div class="col-md-6 col-sm-6 col-xs-6 logo pad_none"><img src="images/logo.png" alt=""></div>
                        <div class="col-md-6 col-sm-6 col-xs-6 header-right pad_none">
                            <ul>
                                <li><a ng-href="#/about">Registro</a> <span><img src="images/admin-img.png"
                                                                                 alt=""></span></li>
                                <li><img src="images/flag1.png" alt=""></li>
                                <li><img src="images/flag2.png" alt=""></li>
                                <li><img src="images/flag3.png" alt=""></li>
                            </ul>
                        </div>
                    </header>
                    <section class="contentarea col-md-12 pad_none">
                        <h2>Tú pones el <span>precio</span>, nosotros el <span>plan.</span></h2>
                        <div class="contentbox">
                            <ul>
                                <li><span>Presupuesto</span>
                                    <div class="inputouter">
                                        <input type="text" name="euro" id="euro" ng-model="home.budget"> <i
                                            class="fa fa-eur"></i></div>
                                </li>
                                <li><span>Viajeros</span>
                                    <div class="inputouter">
                                        <input type="text" name="members" id="members" ng-model="home.numTravellers">
                                        <img src="images/user-icon.png" alt=""></div>
                                </li>
                            </ul>
                            <div class="submitbtnouter"><input type="button" id="submit" value="Buscar"
                                                               ng-click="home.lowFareSearch()"></div>
                        </div>
                    </section>
                    <footer class="col-md-12 pad_none">
                        <ul>
                            <li><a href="#">Acerca de wi.travel</a></li>
                            <li><a href="#">Contacto</a></li>
                            <li><a href="#">Miembros</a></li>
                            <li><a href="#">Mapa del sitio</a></li>
                        </ul>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>
