<loading loading="home.loading"></loading>
<!-- Add your site or application content here -->
<div class="sticky_main_outer">
<div class="col-md-12 col-sm-12 col-xs-12 page_bg pad_none">
    <div class="main_outer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <header>
                        <div class="col-md-6 col-sm-6 col-xs-6 logo pad_none"><img src="images/logo.png" alt=""></div>
                        <div class="col-md-6 col-sm-6 col-xs-6 header-right pad_none">
                            <ul>
                                <!-- <li><a ng-href="#/about">Registro</a> <span><img src="images/admin-img.png"
                                                                                 alt=""></span></li> -->
                                <li><img src="images/flag1.png" alt=""></li>
                                <li><img src="images/flag2.png" alt=""></li>
                                <li><img src="images/flag3.png" alt=""></li>
                            </ul>
                        </div>
                    </header>
                    <section class="contentarea col-md-12 pad_none">
                        <h2>Tú pones el <span>precio</span>, nosotros el <span>plan.</span></h2>
                        <div class="contentbox">
                            <ul>
                                <li><span>Presupuesto</span>
                                    <div class="inputouter">
                                        <input type="text" name="euro" id="euro" ng-model="home.budget"> <i
                                            class="fa fa-eur"></i></div>
                                </li>
                                <li><span>Origen</span>
                                    <div class="originInputouter">
                                        <input type="text" name="origin" id="origin" ng-model="home.origin">
                                        <!-- <img src="images/user-icon.png" alt=""> -->
                                        <!-- <select class="selOrigin">
                                            <option>city-1</option>
                                            <option>city-2</option>
                                            <option>city-3</option>
                                            <option>city-4</option>
                                            <option>city-5</option>
                                            <option>city-6</option>

                                        </select> -->
                                    </div>
                                </li>
                            </ul>
                            <div class="submitbtnouter"><input type="button" id="submit" value="Buscar"
                                                               ng-click="home.lowFareSearch()"></div>
                        </div>
                    </section>
                </div>

                </div>
            </div>
        </div>
    </div>
</div>
<footer class="col-md-12 pad_none index_footer">
<ul>
<li><a href="javascript:;">Acerca de wi.travel</a></li>
<li><a href="javascript:;">Contacto</a></li>
<!--<li><a href="javascript:;">Miembros</a></li>-->
<li><a href="javascript:;">Mapa del sitio</a></li>
</ul>

<ul class="social-media">
    <li><a href="#"><i class="ssl-trust"></i></a></li>
    <li><a class="user-border" href="#"><i class="fa fa-user"></i></a></li>
    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
</ul>
</footer>
