<header class="inner_head">
    <img src="images/inner_logo.png">

    <div class="col-md-4 col-sm-4 col-xs-4 header-right-inner pad_none">
        <ul>
            <li><a href="javascript:;">Registro</a> <span><img src="images/admin-img.png"></span></li>
            <li><img src="images/flag1.png"></li>
            <li><img src="images/flag2.png"></li>
            <li><img src="images/flag3.png"></li>
        </ul>
    </div>
</header>

<section>

    <div class="col-md-12 col-sm-12 col-xs-12 bann_out_con">
        <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="col-md-12 col-sm-12 col-xs-12 precio_final">
                <h2>395€</h2>
                <span>precio final</span>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 viaj_txt tp_mrgn">
                <div class="col-md-11 col-sm-12 col-xs-12 sallda_outer pad_none">
                    <div class="col-md-6 col-sm-6 col-xs-6 sallda_outer_frst">
                        <h2>Salida</h2>
                        <h3><span class="spn1">Miercoles</span> <input type="text" value="" name="" id="datepicker"
                                                                       class="input_1" placeholder="Date"></h3>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 sallda_outer_frst">
                        <h2>Vuelta</h2>
                        <h3><span class="spn2">Viernes</span> <input type="text" value="" name="" id="datepicker1"
                                                                     class="input_2" placeholder="Date"></h3>
                    </div>
                </div>
            </div>


            <div class="col-md-12 col-sm-12 col-xs-12 pad_none">
                <div class="col-md-12 col-sm-12 col-xs-12 vuelos_txt_inner01 pad_none">
                    <h2>Vuelos</h2>
                </div>


                <div class="col-md-12 col-sm-12 col-xs-12 tp_mrgn pad_none">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="plain_img_outer">
                            <img src="images/plan2.png">
                        </div>
                        <div class="vueling_outer_btn">
                            <img src="images/vueling_btn.png">
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 vueling_txt">
                        <h2>18:45</h2>
                        <span>21:00</span>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 barajas_txt">
                        <span>Barajas, <strong>Madrid</strong></span>
                        <i class="fa fa-arrow-right right_arrow_pagar"></i>
                        <span>Arlanda, <strong>Estocolmo</strong></span>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12 plain_main_otr">
                        <div class="plain_img_outer">
                            <img src="images/plain_left.png">
                        </div>
                        <div class="vueling_outer_btn">
                            <img src="images/vueling_btn.png">
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 vueling_txt">
                        <h2>18:45</h2>
                        <span>21:00</span>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 barajas_txt">
                        <span>Arlanda, <strong>Estocolmo</strong></span>
                        <i class="fa fa-arrow-right right_arrow_pagar"></i>
                        <span>Barajas, <strong>Madrid</strong></span>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 vuelos_txt_new01 pad_none">
                    <h2>Hoteles</h2>
                </div>

                <div class="col-md-8 col-sm-8 col-xs-8 radision_blue_txt">
                    <h2>Radisson Blu Royal
                        Viking Hotel, <strong>Estocolmo</strong></h2>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 radision_blue_star pad_none">
                    <i class="fa fa-star star_icon"></i>
                    <i class="fa fa-star star_icon"></i>
                    <i class="fa fa-star star_icon"></i>
                </div>

            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 pagar_btn pad_none">
                <a href="#">Pagar</a>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 pay_pal_img_left pad_none">
                <img src="images/pay_pal.png">
            </div>
        </div>


        <div class="col-md-9 col-sm-8 col-xs-12 bann_imgs_outr pad_none">
            <div class="col-ms-12 col-sm-12 col-xs-12 pay_pal_bg_outer">
                <div class="col-md-12 col-sm-12 col-zs-12 inr_logo_two">
                    <img src="images/inner_logo2.png">
                </div>
                <div class="col-md-12 col-sm-12 col-zs-12 inr_logo_two">
                    <img src="images/pay_pal.png">
                    <h2>El pago se redirigirá a PayPal.</h2>
                </div>
            </div>
        </div>

    </div>
</section>


<div class="col-md-12 col-sm-12 col-xs-12 footer_part">
    <ul>
        <li><a href="javascript:;">Acerca de wi.travel</a></li>
        <li><a href="javascript:;">Contacto</a></li>
        <li><a href="javascript:;">Miembros</a></li>
        <li><a href="javascript:;">Mapa del sitio</a></li>
    </ul>
</div>
